@import "tailwindcss";

:root {
  --background: #03171f;
  --background-secondary: #062334;
  --background-input: #001316;
  --background-sidebar: #192529;
  --background-menubar: #1F2F34;
  --card-background: #00171f;
  --border: #5A5F60;
  --border2: #313838;
  --text-primary: #E2E3E3;
  --text-secondary: #B4B7B8;
  --btn-default: #17B2EB;
  --btn-primary-text: #1F2F34;
  --alert-danger: #FB462E;
  --gradient-primary: #4DBED8;
  --gradient-secondary: #326C92;
  --background-camera-pill: #12121299;
}

@theme inline {
  --color-background: var(--background);
  --color-background-secondary: var(--background-secondary);
  --color-background-input: var(--background-input);
  --color-card-background: var(--card-background);
  --color-border: var(--border);
  --color-border2: var(--border2);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-btn-default: var(--btn-default);
  --color-btn-primary-text: var(--btn-primary-text);
  --color-alert-danger: var(--alert-danger);
  --color-menubar: var(--background-menubar);
  --color-background-sidebar: var(--background-sidebar);
  --color-gradient-primary: var(--gradient-primary);
  --color-gradient-secondary: var(--gradient-secondary);
  --color-camera-pill: var(--background-camera-pill);
}

body {
  background: var(--background);
  color: var(--text-primary);
  font-family: "Inter", sans;
  font-size: 16px;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}


/* Remove Chrome autofill white background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--background-input) inset !important;
  -webkit-text-fill-color: var(--text-primary) !important;
  transition: background-color 9999s ease-in-out 0s;
}

/* Gradient border */
.gradient-border {
  border: 1px solid !important;
  border-image-source: linear-gradient(110.87deg, #4C4C4C -71.01%, rgba(76, 76, 76, 0) 144.79%) !important;
}